<form name="userForm" novalidate ng-submit="addPatient(npatient)">

    <div class="row">
        <div class="col">
            <p>SEARCH BY <span><img src="/App/Static/Images/Location%20Icon.png"
                                    style="width: 50px;height: 50px"></span> LOCATION</p>
            <div class="row">

                <div class="col-3"><label>Location</label></div>

                <div class="col ">
                    <select class="selectBox" ng-required="required" ng-model="location" ng-options=" x as x
                for
 x in places" ng-change="changeLocation()"></select>

                </div>
            </div>
        </div>
        <div class="col">
            <p>SEARCH BY <span><img src="/App/Static/Images/LKR%20%20Icon.png" style="width: 50px;height: 50px"></span>
                AMOUNT</p>
            <div class="row">

            <div class="col-3"><label>Amount</label></div>

            <div class="col">
       <input type="text" class="myBox" ng-model="price" ng-change="changeByAmount()">
          <span style="font-size: 10px;"><button type="button" id="btnsubmit" ng-click="changeByBoth()" style=" background-color: #ffb512;color: white ">Go
            </button></span>

            </div>
            </div>
        </div>

    </div>
<br>
    <div class="row">
        <div class="col">

            <div class="row">

                <div class="col-2"><label>Hotels</label></div>

                <div class="col">
                    <select ng-model="Name" ng-options="Hotel.Name as Hotel.Name
                     for
                      Hotel in Hotel.Names" style="font-size: small" class="selectBox" ng-change="change()"></select>

                </div>
            </div>
        </div>
        <div class="col">

            <div class="row">

                <div class="col-2"><label>Hotels</label></div>

                <div class="col ">
                    <select ng-model="Amount" ng-options="Hotel.Name as Hotel.Name
                     for
                      Hotel in Hotel.Amounts" style="font-size: small" class="selectBox"  ng-change="AmountChange()"></select>

                </div>
            </div>
        </div>

    </div>

    <br>
    <div class="row">
        <div class="col-3"><label>Hotel Name</label></div>
        <div class="col">
            <input type="text" class="myBox" ng-model="HotelDetail.Name">
        </div>
    </div>
    <div class="row">
        <div class="col-3"><label>Amount</label></div>
        <div class="col">
            <input type="text" class="myBox" ng-model="HotelDetail.Amount">
        </div>
    </div>
    <div class="row">
        <div class="col-3"><label>Contact</label></div>
        <div class="col">
            <input type="text" class="myBox" ng-model="HotelDetail.Contact">
        </div>
    </div>
    <div class="row">
        <div class="col-3"><label>Email</label></div>
        <div class="col">
            <input type="text" class="myBox" ng-model="HotelDetail.Email">
        </div>
    </div>
    <br>

    <ui-gmap-google-map
            center='map.center'
            zoom='map.zoom' aria-label="Google map">

        <ui-gmap-marker
                coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
            <ui-gmap-window>
                <div>{{marker.window.title}}</div>
            </ui-gmap-window>
        </ui-gmap-marker>

    </ui-gmap-google-map>

</form>




